*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* button{
  margin: 50px;
  border: 2px solid black;
  font-size: 30px;
  color: black;
  background-color: #fff;
  padding: 20px;

  position: relative;
  max-width: 200px;

  transition: all 1s ease-in-out;
} */

  /*анимация вращения кнопки 4 раза от 0 до 360 градусов*/
  /* animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; */




/* button:hover {
  color: red;
  background-color: blue;
  transform: rotate(35deg);
} */








/* №2. Уменьшение отступов границ до текста */
/* button{
  margin: 50px;
  border: 2px solid black;
  font-size: 30px;
  color: black;
  background-color: #fff;
  padding: 20px;

  transition: padding 1s ease-in;
}

button:hover{
  padding: 10px;
} */






/*№3 Анимированные границы*/
button{
  margin: 50px;
  border: 2px solid black;
  font-size: 30px;
  color: black;
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.up{
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  width: 0%;
  height: 2px;
  transition: width 0.1s 0s ease-in-out;
}

button:hover .up{
  width: 100%;
} 

.right{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 2px;
  height: 0%;
  transition: height 0.1s 0.1s ease-in-out;
}

button:hover .right{
  height: 100%;
}

.bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  width: 0%;
  height: 2px;
  transition: width 0.1s 0.2s ease-in-out;
}

button:hover .bottom{
  width: 100%;
}


.left{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: green;
  width: 2px;
  height: 0%;
  transition: height 0.1s 0.3s ease-in-out;
}

button:hover .left{
  height: 100%;
}
