*{
  margin:0;
  padding:0;
  box-sizing: border-box; /*для обновления всех отступов и т.п., именно это свойство - для чтоб границы были четкими и содержали уже в себе границы и отступы*/
}

div.q{
  /*overflow: scroll; hidden или scroll - важное свойство, которое может пригодиться*/
  width: 1000px;
  /*border: 3px solid green;*/
  border-right: 5px solid red;
  border-left: 2px solid green;
  border-bottom: 4px dotted yellow;
  border-top: 5px dashed gray;
  /*text-align: center; текст будет по центру самой границы*/
  margin: 0 auto; /*выравнивание по ширине слева -справа - авто (т.е. если куказаны ширина div, то с auto отобразится по центру)*/
  padding: 10px; /*отступ от текста до границы со свех сторон*/
}

div.triangle{
  width:0;
  
  /*
  border-top: 20px solid greenyellow;
  border-right: 20px solid lightblue;
  border-bottom: 20px solid lightcoral;
  border-left: 20px solid lightseagreen;
   /*в данном случае получится вот такая картинка: http://prntscr.com/je3ju1 */

   /* Хотим треугольник вниз - значит границу сверху мы видим, границы слева и справа - не видим, а границы внизу вообще нет*/
   border-top: 100px solid greenyellow;
   border-right: 50px solid transparent; /*прозрачная или использовать альфа - прозрачность =0 ставить*/
   border-left: 50px solid transparent;
  }

  div.up{
       /*для стрелки вверх - аналогично*/
       width: 0;
    border-bottom: 20px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }

  section{
    height: 50vh; /*50% относительно высоты экрана*/
    border: 1px solid red;
    background-color: lightblue;
     /*ширина 100% (100 ширин) относительно действующего размера экрана*/
     width: 50vw;
     /*min-width: 10vw; в данном случае минимальная ширина занимает 10 ширин*/
     /*max-width: 10vw; в данном случае макс ширина занимает 10 ширин и если текст не влазит, то тогда переносится на след строку*/
    }

    section div{
     /* height: 50%; /*высота кадого div равняется 80 px*/
     height: 33.3333%; /*3 div полностью заполнят нашу section - поделят на 3 части*/
     border: 1px solid;
     }