*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container-element{
  display: flex;
  justify-content: center;
  align-items: center;
}

.element{
  height: 200px;
  width: 200px;
  background-color: green;
  
  top: 50%; /*выстраиваем по центру - кассается только левого верхнего угла .element*/
  left: 50%;
  transform: translate(-50%, -50%); /*минус половины высоты и ширины, чтоб по центру сделать*/
  transform: rotateY(90deg);
  transform: skewY(-45deg);
  
  /*transform: rotateX(70deg); /*поворот относительно некоторой оси, в данной ситуации OX*/
  /*transform: skew(45deg); /*наклон*/
  /*transform: scale(0.5); /*масштаб*/
  /*transform: scale(0.5), rotate(45deg);*/
}

