*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.accordion-content{
  display: none;
}

.accordion-item.active .accordion-content{
  display: block;
}

.accordion{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.accordion-item{
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 8px;
  overflow: hidden; /*скрытие неровных углов границы*/
}

.accordion-title{
  text-align: center;
  font-size: 32px;
  background-color: rgb(219, 213, 213);
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.accordion-title:hover{
  background-color: rgb(235, 233, 233);
}

.accordion-content{
  padding: 5px 10px;
  
}