header img{
margin-left: 200px;
}

a{/*общая настройка для ссылок*/
text-decoration: none; /*убираем подчеркивание ссылок*/
}

nav{ /*общий размер nav для ссылок*/
  margin: auto;
  width: 600px;
  height: 100px;
}
nav a{ /*именно ссылки*/
  padding: 10px 20px;
  font-size: 32px;
}

nav a:hover{
  border: 1px solid blue; /*при наведении на ссылку, она становится в квадрате*/
  /*border-bottom: 1px solid green;/* при наведении на ссылку, она будет подчеркнута зеленым цветом*/
}

main{ /*основная часть - текст и заглавия у нас <p>, поэтому если поставить padding, то отступа не будет*/
  margin: auto 200px;
}

footer{
  padding-left: 200px;
}

aside{
background-color: grey;
width: 200px;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
}