*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

/*header part---------------------------------------------------*/
header{
  background-image: url(images/Home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: 50% 100%; /*расположение по оси Х и по У*/
  overflow: hidden; /*на обертку вешаем, чтоб полосы прокрутки не было при анимации*/
}

/*--------NAV-----*/
.header-nav{
  padding-top: 40px;
  text-align: center;

  animation: animation-of-nav 0.5s 0s 1 linear;
  
}

.header-nav-list-item{
  display: inline-block;
}

.header-nav-link{
  display: inline-block;
  font-size: 16px;
  padding: 0 65px;
 font-family: 'Gotham Medium';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; 
  letter-spacing: 0.15em;
}

@keyframes animation-of-nav{
  from{
    transform:translate(100%, 0);
  }
  to{
    transform: translate(50%, 0);
  }
}



/*header - текст в заголовке*/
.header-text{
  letter-spacing: 5px;
  padding-top: 245px;
  text-align: center;
}

.header-text > h2{
  color: #fff;
  font-family: 'Gotham Bold';
  font-size: 36px;
  letter-spacing: 0.15em;
}

.header-text > p{
  color: #fff;
  font-family: 'Gotham Medium';
  font-size: 16px;
  letter-spacing: 0.15em;
  padding-bottom: 20px;
}

.header-text a{
  border: 0;
  padding: 10px 10px;
  background-color: #16a085;
  font-size: 12px;
  color: #fff;
  font-family: 'Gotham Medium';
  letter-spacing: 0.15em;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

/*значки-текст*/
.header-icon{
  text-align: center;
  padding-bottom: 20px;
  animation: animation-of-icon 0.5s 0s 1 linear;
}
@keyframes animation-of-icon{
  from{
    transform: translate(-100%, 0);
  }
  to{
    transform: translate(0, 0);
  }
}

.header-icon > p{
  display: inline-block;
}

.header-icon .fa{
  padding: 445px 0 0 15px;
  color: #fff;
}



.header-nav-link-img{ /*"проваливается под землю" ссылка()фото, которая лежит на одно линии*/
  margin-bottom: -20px;
}


/*main part-------------------------------------------------*/
/*The first part*/
.main-first{
  background-color: #f5f6f7;
  overflow: auto;
}

.main-first img{
  float: right;
  padding-top: 95px;
}

.main-first-text{
  padding-top: 115px;
  padding-left: 130px;
  width: 430px;
}

.main-first-text > p{
  padding-top: 25px;
  letter-spacing: 0.15em;
  line-height: 25px; /*-высота строки*/
  font-family: 'Gotham Medium';
  padding-bottom: 20px;;
}

.main-first-text > h2{
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #16a085;
  font-family: 'Gotham Bold';
}

.main-first-text a{
  border: 0;
  color: #fff;
  background-color: #16a085;
  letter-spacing: 0.15em;
  font-family: 'Gotham Medium';
  font-size: 12px;
  padding: 15px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}



/*The second part-------------------------------*/
.main-second{
 background-color: #fff;
  overflow: auto;
}


.main-second img{
  float: left;
  padding-top: 145px;
  padding-right: 330px;
}


.main-second h2{
  font-family: 'Gotham Bold';
  letter-spacing: 0.15em;
  color: #16a085;
  font-size: 18px;
  padding-bottom: 40px;
  padding-top: 150px;
  
}

/*.main-second-text + p{ -только для первого абзаца после класса
  letter-spacing: 1px;
  font-family: 'Gotham Book';
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 20px;
}
*/

.main-second a{
  border: 0;
  color: #fff;
  background-color: #16a085;
  letter-spacing: 0.15em;
  font-size: 12px;
  padding: 25px 40px;
  border-radius: 5px;
  margin-bottom: 45px;
  margin-top: 40px;
  font-family: 'Gotham Medium';
  display: inline-block;
text-decoration: none;
}

.main-second > p > time{
  font-family: 'Gotham Bold';
  font-size: 12px;
}

.main-second > p{
  padding-top: 25px;
  letter-spacing: 0.15em;
  line-height: 25px; /*-высота строки*/
  font-family: 'Gotham Medium';
  padding-right: 130px;
}


/*для стрелочек вправо - влево*/
.main-second .fa{
  color: black;
}

.main-second-icon{
  display: inline-block;
}

.main-second-icon > p{
  display: inline-block;
  padding-right: 15px;
}


/*The third part---------------------------------*/
.main-third{
  background-color: #f5f6f7;
  background-size: cover;
}

.main-third-icon{
  text-align: right;
  padding-right: 130px;
  padding-top: 90px
}

.main-third-icon > p{
  display: inline-block;
  padding-right: 15px;
}


/*для картинок*/
.main-third-images{
text-align: center;
padding-bottom: 125px;
width: 1100px;
margin-left: auto;
margin-right: auto;

}

.main-third-images figure{
  float: left;
  padding: 45px 10px 0 10px;
}

.main-third-images img{
  padding: 45px 10px 0 10px;
}

.main-third-images p{
  clear: both;
  width: 150px;
  padding-top:25px;
  font-family: 'Gotham Medium';
  letter-spacing: 0.15em;
  font-size: 10px;
  
}

.main-third-images figcaption{
  padding-top: 30px;
  font-size: 16px;
  font-family: 'Gotham Bold';
  letter-spacing: 0.15em;
}



/*The fouth part*/
.main-fouth{
  background-image: url(images/Livello-3.jpg);
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.main-fouth-text h2{
  text-transform: uppercase;
  font-family: 'Gotham Medium';
  font-size: 24px;
  color: #fff;
  letter-spacing: 0.15em;
  padding-top: 350px;
  padding-bottom: 36px;
}

/*Поле ввода*/
.main-fouth-text input{
  width: 345px;
  height: 60px;
}

/*Форма*/
.form {
  font-size: 0; /*ДЛя того, чтоб пробела не было между полем ввода и кнопкой*/
}

/*Кнопка ок*/
.form-button-fouth {
  border: 0; /*убрать границы кнопки - обводка*/
  border-radius: 0 2px 2px 0;
  background-color: #16a085;
  color: #fff;
  text-align: center;
  padding: 14px 20px 20px 20px;
}

.main-fouth-text input{ /*для подсказки в input*/
  font-family: 'Gotham Bold';
  font-size: 16px;
  letter-spacing: 0.15em;
  padding-left: 20px;
}



/*The fifth part of main*/
.main-fifth{
  background-color: #f5f6f7;
  text-align: center;
  font-size: 0; /*Нулевой размер шрифта в родительском контейнере:*/
}

.fifth-icon{
  padding-bottom: 120px;
}

.main-fifth-text{
  font-family: 'Gotham Medium';
  font-size: 12px;
  padding-top: 90px;
  padding-bottom: 50px;
  /*width:850px; /*указывание ширины и отступы margin=auto выравнивают по центру*/
  padding-left: 130px;
  padding-right: 130px;
  letter-spacing: 0.15em; /*исходя из фотошопа, VA=150, значит межбуквенное расстояние равно 150 делить на 1000 и будет это расстояние _em*/
}

.main-fifth-text h2{
  text-transform: uppercase;
  font-size: 20px;
}


.button-fifth-link{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px; 
  font-size: 16px;
  background-color: #1abc9c;
  font-family: 'Gotham Medium';
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}


.button-fifth-icon{ /*кнопки для apple и android*/
border: 0; /*убрать границы кнопки - обводка*/
border-radius: 0 2px 2px 0;
background-color: #16a085;
color: #fff;
text-align: center;
padding: 15px 20px 21px 20px;
margin-right: 30px;
}



/*The last part - footer*/
footer{
  background-color: #fff;
  /*width: 1050px;*/
  padding-right: 130px;
  padding-left: 130px;
}

footer img{
  float: right;
  padding-top: 35px;
  padding-bottom: 40px;
}

.footer-nav{
 color: #16a085;
 font-weight: bold;
}

.footer-nav-list-item{
  display: inline-block;
}

.footer-nav-link{
  display: inline-block;
  font-size: 14px;
  font-family: 'Gotham Medium';
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-transform: uppercase; 
  letter-spacing: 0.15em;
  clear: both;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-text{
  padding-bottom: 35px;
  font-size: 14px;
  letter-spacing: 0.15em;
  font-family: 'Gotham Medium';
}