*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*#1---------------------- Выравнивание относительно своего div по центру----------
можно сделать flex, а потом применить jcc и aic

.container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container-element{
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: red;

  /*выравниваем по центру относительно контейнера container
  top: 50%;
  left: 50%;

  /*выравниваем относительно теперь самого <div> - отсупы минус половина высоты и ширины
  transform: translate(-50%, -50%); /*перемещение на половину высоты и длины назад, поскольку top и left касается только левого верхнего угла квадрата
}
-----------------------------------------------------------------------------------*/





/*#2 -----------------------Выравнивание по центру div - четко видно div в div'e----------------------------
.container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.row{
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: red;

  /*выравниваем по центру относительно контейнера container
  top: 50%;
  left: 50%;

  /*выравниваем относительно теперь самого <div> - отсупы минус половина высоты и ширины
  transform: translate(-50%, -50%); /*перемещение на половину высоты и длины назад, поскольку top и left касается только левого верхнего угла квадрата - это вместо margin left и right (по минус половине высоты и длины)
}

.element{
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: green;
}
/*---------------------------------------------------------------------------------------------------*/


/*№3 --------------------------Задание про крестик----------------------------------------------------*/
.container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.element{
  position: absolute;
  height: 400px;
  width: 20px; /*узкий прямоугольник*/

  top: calc(50% - 200px);
  left: calc(50% - 10px); /*половина от ширины,
  эта функция заменяет transform: translate - для выравнивания  по центру относительно div*/
  background-color: green;

  transform: rotate(45deg); /*вращение*/
}

.element + .element{
  transform: rotate(-45deg); /*повернуть в другую сторону*/
}













/*.element{
  height: 200px;
  width: 200px;
  background-color: green;
  
  top: 50%; /*выстраиваем по центру - кассается только левого верхнего угла .element
  left: 50%;
  transform: translate(-50%, -50%); /*минус половины высоты и ширины, чтоб по центру сделать
  transform: rotateY(90deg);
  transform: skewY(-45deg);
  
  /*transform: rotateX(70deg); /*поворот относительно некоторой оси, в данной ситуации OX*/
  /*transform: skew(45deg); /*наклон*/
  /*transform: scale(0.5); /*масштаб*/
  /*transform: scale(0.5), rotate(45deg);
}*/

