.wrapper{
    display: flex;
    /*white-space: nowrap; /*элементы div все будут расположены в одну строку не превышая 1200px*/
    flex-wrap: wrap; /*перенос на следующую строку*/
    max-width: 1200px; /*ширина всей таблицы*/
    margin: auto; /*выравнивание по ширине*/
}

.header-text{
    /*text-overflow: ellipsis; /*+ overflow: hidden; эта и нижняя строка - для текста, который занимает много места - будут точки*/
    border: 2px solid black;
    /*flex-grow: 2; - если указана ширины, то не нужно указывать Flex-grow, поскольку в данном примере flew-grow пытается занять сразу всю ширину*/ 
    width: 33.3333%; /*устатнавливаем ширину*/
    height: 40px; /*высота ячеек - если её не ставить, то высота ячейки будет автоматически подгоняться под контент в ячейке, но все ячейки в данной строке, будут одинаковые по размеру*/
   
  }


  
@media screen and (max-width: 1024px){
    .header-text{
      /*width: 33.3333%; /*чтоб на данном экране было 3 колонки при таком разрешении*/
      width: 25%; /*4 колонки*/
    }
  }

@media screen and (max-width: 720px){
    .header-text{
      /*width: 33.3333%; /*чтоб на данном экране было 3 колонки при таком разрешении*/
      width: 33.3333%; /*4 колонки*/
    }
  }

  @media screen and (max-width: 375px){
    .header-text{
      /*width: 33.3333%; /*чтоб на данном экране было 3 колонки при таком разрешении*/
      width: 50%; /*4 колонки*/
    }
  }