*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Анимация, header - опускается вниз сверху*/
/* header{
  animation: header-title 0.4s 0s 1 ease-in;
  text-align: center;
  font-size: 40px;
}
@keyframes header-title {
  from{
      transform:  translate(0, -100%);
  }

  to{
      transform: translate(0, 0)
  }
} */


/*для кнопки*/
button{
  border: 1px solid black;
  font-size: 30px;
  color: #fff;
  background-color: #fff;
  padding: 20px;

  position: relative;
  overflow: hidden;

  will-change: color, border-color; /*что будет изменяться*/
  transition:                       /*добавляем для анимации*/
              color 0.4s 0s ease-in,
              border-color 0.4s 0s ease-in;
}

button:hover{ /*при наведении на кнопку*/
  border-color: blue;
  color: rgb(226, 113, 113);
}

.curtain{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: blue; /*blue фон для шторки*/
  transition: transform 0.4s 0s ease-in;
}

.text{
  position: relative;
  z-index: 2;
}

button:hover .curtain{
  transform: translate(0, 100%);
  /* transform: translate(100%, 0); слева направо
  transform: translate(100%, 100%); сверху слева - вниз направо */
  /* transform: rotateX(360deg);
  transform: rotateX(90deg) translate(0, 100%); */
}
