@import 'reset.css';

/*html{
  height: 100%;
}

body{
  height: 100%;
}

в данном случае, можно заменить эти html и body на обертку wrapper: min-height: 100vh вместо 100%; 
*/

.wrapper{
  min-height: 100vh;
  padding-bottom: 100px; /*чтоб контент не накладывался на footer  т.е приподымаем его от footer*/
}

header{
  background-color: blue;
}

main{
  background-color: green;
}

.footer-main{
  background-color: red;
  height: 100px; /*у нас дана высота, поэтому нужно сначала добавить высоту html, body и wrapper добавить минимальную высоту*/
  margin-top: -100px; /*возвращаем на место footer*/
}

