*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll{
  height: 20vh;
  /*overflow-y: scroll; /*наличие для обычного scroll, для custom нужно убрать*/
}
.mCSB_draggerContainer{
background-color: red;
}
