*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
      font-size: 0; /*указываем 0 отступы для родителя, чтоб уместились 2 колонки, поскольку не делая этого - не влезут обе колонки в строку при display: inline-block;*/
      padding: 15px; /*отступы от всех краев container'а*/
    }

.row{
      margin-right: -15px;
      margin-left: -15px;
    }

.container-main{
      display: inline-block;
      /*float: left; /*ставим обтекание слева у двух элементов, и у второго обтекание справа также будет справа, но обтекать уже нет места - поэтому будет перенос на след строку*/ 
      /*width: 50%; /*для 4 элементов в ряд, то ставим 25%, 3 - 33.3333% для 2 - 50%*/
      padding: 10px;
      width: 25%; /*если ставим 50% , то будет только две колонки, 25% - 4 колонки и т.п.*/
    }
  
.container-main-text{
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid black;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgb(31, 21, 19);
      display: inline-block;
      width: 100%; /*ширину ставим 100%, ориентируется на родителя*/
      }



    @media screen and (max-width: 1024px){
      .container-main{
        /*width: 33.3333%; /*чтоб на данном экране было 3 колонки при таком разрешении*/
        width: 25%; /*4 колонки*/
      }
    }

    @media screen and (max-width: 720px){
      .container-main{
        /*width: 50%; /*при уменьшении до 720px будет 2 колонки*/
        width: 33.3333%; /*3 колонки*/
      }
    }

    @media screen and (max-width: 375px){
      .container-main{
        /*width: 100%; /*при уменьшении до 375px будет 1 колонка*/
        width: 50%; /* 2 колонки*/
      }
    }

    @media screen and (max-width: 320px){
      .container-main{
        /*width: 100%; /*при уменьшении до 320px будет 1 колонка*/
        width: 100%;
      }
    }
    