@import 'reset.css';

/*nav{
  display: flex;
  border-bottom: 2px solid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 230, 0.5);
  flex-direction: row;  /*элементы будут строиться справа налево, первый элемент будет начинаться справа, далее второй слева и т.п.
  justify-content:  flex-end; /*элементы располагаются в конце строки, также можно применить space-between и space-around
  height: 300px; /*при большей высоте более четко видно расположение элементов относительно вторичной оси
  align-items: center; /*расположение элементов относительно вторичной оси - в данном случае по центру, flex-end - внизу
}

a{
  border: 2px solid blue;
  padding: 5px;
  font-size: 30px;
  /*width: 100%; при таком параметре ссылки будут занимать все доступное пространство в линии - одинаковую ширину
  flex-grow: 1; /*Для ссылок все пространство это 1, у нас 5 ссылок, значит каждая будет занимать по 20%
}
*/


/*Расположение элементов
.child{
  border: 2px solid green;
  font-size: 30px;
}

.child + .child{
  height: 200px;
}

.child + .child + .child{
  height: 100px;
}

.container{
  display: flex;
 justify-content: center; /*основная ось
 align-items: flex-end; /*вторичная ось
 height: 400px;
}
*/









/*Верстка таблицы товаров*/
/*это прибиваем footer вниз*/
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto; /*вместе с шириной выровняет нам по центру весь наш wrapper*/
}

.header{
  background-color: yellowgreen;
  height: 50px;
  font-size: 32px;
}

.content{
 flex-grow: 1; /*добавление этого значения и значения min-height: 100vh для обертки wrapper - прибивает footer вниз, а main занимает все пространство*/

 display: flex; /*этот контейнер также нужно сделать flex*/
flex-wrap: wrap; /*разрешаем перенос на следующую строку*/

}

.footer{
  height: 100px;
  background-color: gray;
  font-size: 32px;
}

.main-content{
  border: 2px solid black;
  font-size: 22px;
  width: 33.3333%;
  background-color: rgba(0, 0, 230, 0.3);
  
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; -в данном случае эти 3 строки запишут троеточие, где много текста.*/
  /*height: 100px; также можно установить высоту для ячеек*/
}

@media screen and (max-width: 1200px){
  .main-content{
    width: 20%;
  }
}

@media screen and (max-width: 1023px){
  .main-content{
    width: 25%; /*если экран больше 1023px, то будет видно по 4 колонки*/
  }
}

@media screen and (max-width: 719px){
  .main-content{
    width: 33.3333%; /*по 3 колонки в ряд*/
  }
}

@media screen and (max-width: 374px){
  .main-content{
    width: 50%;
  }
}

@media screen and (max-width: 320px){
  .main-content{
    width: 100%;
  }
}