*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  display: inline-block;
}

.burger-button{
  width: 20px;
  height: 21px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: none; /*кнопка скрыта, когда ширина большая (больше в нашем случае, чем 425px)*/
}

.serif{
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;

  /*для анимации в дальнейшем укажем время анимации*/
  transition:
              opacity 0.2s ease-in,
              transform 0.2s ease-in;

  /*определим точку вращения (смещение точки вращения)*/
  transform-origin: 0 50%;
}
.serif:nth-child(2){
  top: 9px;
}
.serif:nth-child(3){
  top: auto;
  bottom: 0;
}

/*добавим анимацию при активной кнопке burger-button*/
.burger-button.active .serif:nth-child(2){
  transform: translate(100px, 0); /*вторая полоска уезжает вправо на 100px по оси ОХ, когда кнопка активна*/
  opacity: 0; /*при нажатии на кнопку - вторая полоска пропадает плавно*/
}
.burger-button.active .serif:nth-child(1){ /*или просто :first-child*/
  transform: rotate(45deg);
  top: 2px;
}
.burger-button.active .serif:nth-child(3){
  transform: rotate(-45deg);
  bottom: 2px;
}

@media screen and (max-width: 425px){
  .burger-button{
  display: block; /*кнопка появится при уменьшении экрана до 425px и ниже*/
}
nav{
  position: fixed;
  width: 200px;
  display: none;
}
nav.active{
  display: block; /*если будет такое расширение, то ссфылки станут в блочном редиме (в CSS мы указали их скрытыми)*/
}
li{
  display: block;
}
}