/*div::before{
  content: attr(data-translate);
}

li{
  color: green;
}
ul{
  list-style-type: none;
}

li::before{
  background-color: brown;
}
li:nth-child(3){ /*только третий элемен будет покрашен в зеленый цвет
  color: green;
}
*/

.mark{
  display: inline-block;
  width: 10px;
  position: relative;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px solid black;
  padding-left: 10px;
}
.mark::before{
  content: " ";
  position: absolute;
  
}

input[type="checkbox"]{
  display: none;
}
