/* Импортирование в html файл в заголовок header*/
@import "header";
h1, 
h2{
  height: 100px;
  border-bottom: 1px solid blue;
}


section > h2{ /*только для h2 для section*/
  height: 20px;
  border-bottom: 1px solid green;
}

li{
  color: grey;
}
 
ul > li li{ /*все li во вложенных ul*/
  color: red;
}

h2{
  border: 1px solid green;
}

/*
h2{
  height: 100px;
  border-bottom: 1px solid blue;
}
*/