@media screen and (max-width: 1024px){

  article{
    width: 90%;
  }
  .header-icon1, 
  .header-icon2{
    display: none;
  }
  .icon{
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .cell{
    display: block;
    width: 70%;
    margin: 0;
    margin: 0 auto 20px auto;
  }
}

@media screen and (max-width: 768px){
  .wheel{
    width: 300px;
    margin-left: -150px; /*при заданой ширине и минус полдлины - чтоб по центру стала картинка*/
  }
  .red{
    width: 100%;
  }
}